<!DOCTYPE html>
<html>

<head>
    <title>FIDE Data Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>

    <header class="navbar">
        <div class="logo">FIDE</div>
        <nav>
            <a href="/">System</a>
            <a href="/rankings">Data</a>
            <a href="/login" class="btn-dark">Login</a>
            <a href="/signup" class="btn-outline">Signup</a>
        </nav>
    </header>

    {% block content %}{% endblock %}

    <footer class="footer">
        <p>© 2024 International Chess Federation</p>
    </footer>

</body>

</html>