{% extends "base.html" %}

{% block content %}

<section class="container">

<h1 class="section-title">Player Comparison</h1>

<form method="POST">

<input name="p1" placeholder="Player 1 FIDE ID">
<input name="p2" placeholder="Player 2 FIDE ID">

<button class="btn-primary">Compare</button>

</form>

{% if p1 and p2 %}

<canvas id="compareChart"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>

const ctx=document.getElementById('compareChart');

new Chart(ctx,{
type:'bar',

data:{
labels:['Standard','Rapid','Blitz'],

datasets:[

{
label:'{{ p1.name }}',
data:[
{{ p1.standard_rating }},
{{ p1.rapid_rating }},
{{ p1.blitz_rating }}
],
backgroundColor:'black'
},

{
label:'{{ p2.name }}',
data:[
{{ p2.standard_rating }},
{{ p2.rapid_rating }},
{{ p2.blitz_rating }}
],
backgroundColor:'gray'
}

]

}

});

</script>

{% endif %}

</section>

{% endblock %}