{% extends "base.html" %}
{% block content %}

<div class="section">
    <h2>Welcome, {{ session.username }}</h2>

    <div class="dashboard-cards">
        <div class="card">
            <h3>Standard Rating</h3>
            <p>{{ player.standard_rating }}</p>
        </div>

        <div class="card">
            <h3>Rapid Rating</h3>
            <p>{{ player.rapid_rating }}</p>
        </div>

        <div class="card">
            <h3>Blitz Rating</h3>
            <p>{{ player.blitz_rating }}</p>
        </div>
    </div>
</div>

{% endblock %}