{% extends "base.html" %}
{% block content %}

<div class="auth-page">

    <div class="auth-card">

        <h2>Login</h2>

        <form method="POST">

            <input type="text" name="username" placeholder="Username" required>

            <input type="password" name="password" placeholder="Password" required>

            {% if error %}
            <div class="alert-error">{{ error }}</div>
            {% endif %}

            <button class="btn-primary" style="width: 100%;"><span>Login</span></button>

        </form>

    </div>

</div>

{% endblock %}